[mysqld]
#ssl-ca=/etc/mysql/certs/ca-cert.pem
#ssl-cert=/etc/mysql/certs/mysql-server-cert.pem
#ssl-key=/etc/mysql/certs/mysql-server-key.pem

default-storage-engine=INNODB
character_set_server=utf8mb4
innodb_default_row_format=DYNAMIC
innodb_log_file_size=2G
sql_mode=NO_AUTO_VALUE_ON_ZERO